body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}
.left{
  float:left;
}
.title-image{
  margin-right:50px;
  float:right;
}
.right{
  float:right;
}
h1 {
  font-size: 5rem;
}
.card{
  width:45%;
}
footer {
  text-align: center;;
  color: midnightblue;
}
.tile-image{
  height:200px;
  float:left;
  margin-right: 50px;
}

@media (max-width:680px){
  .left{
    display:inline;
    float:right;
  }
  .right{
    float:left;
    display:inline;
  }
  .card{
    width:100%;
    display:block;
    text-align:justify;
  }
  .card img{
    float:left;
    display:inline;
    object-fit:cover;
  }
}
